.divix {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  &-tech {
    // background-color: aqua;
    display: flex;
    flex-wrap: wrap;

    // align-items: center;
    justify-content: center;
  }
  .motCle {
    display: flex;

    padding: 10px;
    flex-wrap: wrap;
  }
}
