.footer {
  // background-color: #4a85e3;
  display: flex;
  justify-content: space-between;
  padding: 20px;

  &-firstParty {
    // display: flex;

    // justify-content: space-evenly;
  }
  &-btn {
    display: flex;
    // flex-direction: row;

    justify-content: space-evenly;
    // background-color: aqua;

    &-left {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
