.professionalTech {
  display: flex;
  // height: 200px;
  // width: 1500px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  .motCle {
    display: flex;

    padding: 10px;
  }
}
