.experience {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 0;

  .poste {
    background-color: #fff;
  }
  &-duration {
    background-color: #fff;
  }
  .duree {
    background-color: #fff;
  }
  .societe {
    background-color: #fff;
  }
  .tache {
    &-icon {
      background-color: #fff;
    }
    &-descriptionTache {
      background-color: #fff;
    }
  }
}
