.experience {
  .poste {
    background-color: #fff;
  }
  &-duration {
    background-color: #fff;
  }
  .duree {
    background-color: #fff;
  }
  .societe {
    background-color: #fff;
  }
  .tache {
    &-icon {
      background-color: #fff;
    }
    &-descriptionTache {
      background-color: #fff;
    }
  }
}
