.experience {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  .titleExp {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
  }
  .card {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
  }
  .poste {
    background-color: #fff;
  }
  &-duration {
    background-color: #fff;
  }
  .duree {
    background-color: #fff;
  }
  .societe {
    background-color: #fff;
  }
  .tache {
    &-icon {
      background-color: #fff;
    }
    &-descriptionTache {
      background-color: #fff;
    }
  }
}
